@model Project_Management.Models.UserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form action="../Views/Home/Project">
        <div>
            <div>
                UserName :
            <input type="text" />
            </div>
            <div>
                Password :
            <input type="password" />

            </div>
            <input type="submit" value="Submit" />
        </div>
    </form>








