
<div style="width: 220px;margin-left:auto;margin-right:auto; margin-top:25px;"><i class="fa fa-pie-chart fa-5x" aria-hidden="true" style="font-size: 16em;color: #ddd;"></i></div>
<div style="color:#ccc;zoom: 151%;width:96px;margin-left:auto;margin-right:auto; margin-bottom:27px;"><strong>No Chart Data</strong></div>
