<!-- Module Empty Bucket -->

<div style="width:232px; margin-left:auto; margin-right:auto;"><i class="fa fa-cube fa-5x" aria-hidden="true" style="font-size:21em; color:#A2A2A2;"></i></div>
<div style="color:#A2A2A2; zoom:222%; width:78px; margin-left:auto; margin-right:auto;"><strong>No Projects</strong></div>