<!-- Project Empty Bucket -->


<div style="width:232px; margin-left:auto; margin-right:auto;"><i class="fa fa-bitbucket fa-5x" aria-hidden="true" style="font-size:21em; color:rgba(138, 109, 59, 0.41);"></i></div>
<div style="color:rgba(138, 109, 59, 0.50); zoom:222%; width:78px; margin-left:auto; margin-right:auto;"><strong>No Projects</strong></div>
